################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.user
/.vs
/packages
/DeuceGear.EnumExtensions/bin
/DeuceGear.EnumExtensions/obj
/DeuceGear.EnumExtensions.UnitTests/bin
/DeuceGear.EnumExtensions.UnitTests/obj
/DeuceGear.StringExtensions/bin
/DeuceGear.StringExtensions/obj
/DeuceGear.StringExtensions.UnitTests/bin
/DeuceGear.StringExtensions.UnitTests/obj
/DeuceGear.RegexExtensions/bin
/DeuceGear.RegexExtensions/obj
/DeuceGear.RegexExtensions.UnitTests/bin
/DeuceGear.RegexExtensions.UnitTests/obj
/DeuceGear.Linq/bin
/DeuceGear.Linq/obj
/DeuceGear.Linq.UnitTests/bin
/DeuceGear.Linq.UnitTests/obj
