################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DeuceGear/v15
/DeuceGear.Extensions/obj
/DeuceGear.Extensions/bin
/DeuceGear.EnumExtensions/bin
/DeuceGear.EnumExtensions/obj
/DeuceGear.EnumExtensions.UnitTests/bin/Debug
/DeuceGear.EnumExtensions.UnitTests/obj/Debug
/packages/NUnit.3.9.0
