################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DeuceGear/v15
/packages
/DeuceGear.EnumExtensions/bin
/DeuceGear.EnumExtensions/obj
/DeuceGear.EnumExtensions.UnitTests/bin
/DeuceGear.EnumExtensions.UnitTests/obj
/DeuceGear.StringExtensions/bin
/DeuceGear.StringExtensions/obj
/DeuceGear.StringExtensions.UnitTests/bin
/DeuceGear.StringExtensions.UnitTests/obj
/DeuceGear.RegexExtensions/bin
/DeuceGear.RegexExtensions/obj
/DeuceGear.RegexExtensions.UnitTests/bin
/DeuceGear.RegexExtensions.UnitTests/obj
